<div>
    <h2>Dodaj novo pitanje</h2>

    <form id="questionForm">
        <label for="question">Pitanje:</label><br>
        <input type="text" id="pitanje" name="question" required><br><br>

        <label for="answer">Točan odgovor:</label><br>
        <input type="text" id="odgovor" name="answer" required><br><br>

        <label for="points">Broj bodova:</label><br>
        <input type="number" id="bodovi" name="points" required><br><br>

        <button type="submit">Dodaj pitanje</button>
    </form>

    {{#if result.success}}
    <div class="mt-4">
        <div class="card w-96 bg-primary text-primary-content">
            <div class="card-body">
                <h2 class="card-title">Uspjeh!</h2>
                <p>
                    Uspješno ste dodali novo npitanje!
                </p>
                <div class="card-actions justify-end">
                    <a class="btn" href="/competitions/questions">Nastavi na prikaz pitanja!</a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>