<div>
    <div style="display: flex; justify-content: center; font-size: 30px;">Natjecanje iz:</div>
    <div class="overflow-x-auto">
        <a href="/competitions/add_question/{{this.id}}" class="btn bg-yellow-500 btn-xl ">Dodaj pitanje</a>
    </div>

</div>