{{#if result.display_form_quest}}
<div style="display: flex; justify-content: center; font-size: 40px;">Unos pitanja: </div>
<form class="flex-col mx-1 pb-2 flex gap-2" action="/competitions/add_question/{{this.id}}" method="POST">
    <input class="bg-neutral" type="text" name="pitanje" placeholder="Pitanje" required>
    <input class="bg-neutral" type="text" name="tocodg" placeholder="ToÄan odgovor" required>
    <input class="bg-neutral" type="number" name="bodoiv" placeholder="Bodovi" required>
</form>
{{> form_buttons }}
{{/if}}
