<!DOCTYPE html>
<html>

<head>
    <title>Moja Express aplikacija</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    {{if iser}}
    <div class="flex flex-row flex-wrap p-2 bg-base-200 gap-4"> 
        <div class="flex"></div>
        <div class="p-2 bg-base-200 flex flex-row justify-end item-baseline gap-2">        
            <div>{{user.name}}</div>       
            <a class="btn btn-sm btn-accent" href="/users/signout">Odjava</a>
        </div>
    </div>
    
    {{/if}}

    {{{body}}}
</body>

</html>