<div class="p-4">
    <div role="alert" class="alert alert-error max-w-fit m-8">
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-16 w-16" fill="none"
            viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span>
            <span class="text-5xl pb-4 inline-block">{{message}}</span>
            <span class="text-xs inline-block text-left font-mono ">{{error.stack}}</span>
        </span>
    </div>
</div>


