<div class="hero min-h-screen bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">{{title}}</h1>
      <p class="py-6">
        Dobro došli na aplikaciju, ukolike želite možete se prijaviti u sustav
        klikom na donji gumb.
      </p>
      <a class="btn btn-primary" href="/users/signin">Kreni na prijavu</a>
    </div>
  </div>
</div>