<div class="p-4 text-2xl flex flex-col gap-4">
    <div>
        <div class="text-orange-600">Ime i prezime:</div> {{user.name}}
    </div>
    <div>
        <div class="text-orange-600">E-mail adresa:</div> {{user.email}}
    </div>
    <div>
        <div class="text-orange-600">Zaporka:</div> *********
    </div>
</div>